{% extends "layout.html" %}

{% block head%}
<title> Ronald Silva - Home</title>
{% endblock %}
 
    {% block content %}

    <div id="wrapper">
        <img src="https://image.flaticon.com/icons/svg/828/828767.svg" alt="">
        <h1>Ronald Silva</h1>
        <h2>Estudante de Tecnologias</h2>
        
        <p>Estudante de Design de Interfaces, apaixonado por criação 
            e desenvolvimento e ainda mais louco pelo mundo do desenvolvimento Web</p>
            Me conheça um pouco mais aqui 
            <span> <a href="https://github.com/rohuldson" target="blank">Github</a> </span>
    </div>

    <div id="links-redes" class="links">
        <a href="https://www.linkedin.com/in/ronald-silva-34873971/" target="blank">Linkedin</a>
        <a href="https://instagram.com/rohuldson_photo" target="blank">Instagram</a>
        <a href="https://twitter.com/roh_huldson" target="blank">Twitter</a>
        

    </div>

{% endblock %}